:root {
    --color-primary: #cd041c !important; /* moderate contributions heatmap, primary email address label, Regenerate Scratch Token, and more (below) */
    --color-primary-dark-2: #ab0316 !important; /* greater contributions heatmap and more (below) */
    /* reconsidered: --color-primary-dark-3 */
    --color-primary-dark-4: #870312 !important; /* red buttons and greatest contributions heatmap */
    --color-primary-dark-6: #5f020d !important; /* red buttons hover */
    --color-primary-light-1: #d1152b !important; /* selection color */
    --color-primary-light-2: #ce2236 !important; /* fewer contributions heatmap */
    --color-primary-light-4: #d54455 !important; /* fewest contributions heatmap */
    /* reconsidered: --color-background */
    /* no contributions heatmap is okay */
    --fonts-monospace: ui-monospace, "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace, var(--fonts-emoji) !important; /* replaced "SFMono-Regular" */
}

/* reconsidered: .full.height */

.home a {
    color: var(--color-primary) !important; /* link and link hover color on home page, other links use --color-primary */
}

.home .svg {
    color: var(--color-primary) !important; /* icons' color on home page */
}

.text.green {
    color: var(--color-primary) !important; /* ssh/gpg key icon color */
}

.ui.green.button {
    background-color: var(--color-primary) !important; /* "green" button color (e.g., Sign In, Verify), primary buttons use --color-primary */
}

.ui.green.button:hover, .ui.green.button:active {
    background-color: var(--color-primary-dark-2) !important; /* "green" button hover color, only this one has active element, primary buttons use --color-primary-dark-2 */
}

.ui.basic.green.button {
    color: var(--color-red) !important; /* reset color as in danger zone */
    border-color: var(--color-red) !important; /* reset color as in danger zone */
    background-color: unset !important; /* reset color of reopen issue button as in danger zone */
}

.ui.basic.green.button:hover {
    color: var(--color-red-dark-1) !important; /* reset color as in danger zone */
    border-color: var(--color-red-dark-1) !important; /* reset color as in danger zone */
    background-color: unset !important; /* reset color of reopen issue button as in danger zone */
}

.ui.red.button {
    background-color: var(--color-primary-dark-4) !important; /* red button color (e.g., Confirm Deletion, Remove) */
    /* color: var(--color-body) !important; */ /* reconsidered: text color overrides text color for some buttons (e.g., Transfer Ownership) */
}

.ui.red.button:hover {
    background-color: var(--color-primary-dark-6) !important; /* red button hover color */
}

.ui.basic.red.button {
    background-color: unset !important; /* reset color in danger zone */
}

/* not needed: .ui.basic.red.button:hover */
/* reconsidered: .ui.active.button:hover, .ui.active.button:active */
/* reconsidered: .ui.tabular.menu.navbar */
/* not needed: .ui.secondary.pointing.tabular.top.attached.borderless.menu.stackable.new-menu.navbar.shadow-body .active.item */
/* not needed: .ui.secondary.pointing.tabular.top.attached.borderless.menu.stackable.new-menu.navbar .active.item */
/* reconsidered: .ui.top.attached.pull.tabular.stackable.menu .active.item */
/* reconsidered: .ui.top.tabular.menu .active.write.item */
/* not needed: .ui.top.attached.tabular.menu .active.item */
/* reconsidered, re-ordered: #repo-files-table tr:hover */
/* not needed: .repository .diff-detail-box */

details {
    background-color: var(--color-secondary-light-3); /* make collapsible elements easier to distinguish from main body */
    border-radius: 4px; /* same as code blocks */
    padding: .2em .4em; /* same as code blocks */
}

/* reconsidered: .js-clone-url */
/* not needed: .color-preview */
/* not needed: .markup table tr:nth-child(2n) */
/* reconsidered: .added-code */